<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editing <%= movie.title %></title>
  </head>
  <body>
    <a href="/users/:user_id/movies">Home</a>
    <a href="/users/<%= user._id %>/movies/<%= movie._id %>/">Movie Detail</a>
    <a href="/auth/sign-out">Sign-Out</a>
    <form
      action="/users/<%= user._id %>/movies/<%= movie._id %>?_method=PUT"
      method="POST"
    >
      <h2>Update movie: <%= movie.title %></h2>

      <label for="title">Title: </label>
      <input type="text" name="title" id="title" placeholder="Title" required />
      <br />

      <label for="director">Director: </label>
      <input
        type="text"
        name="director"
        id="director"
        placeholder="Director"
        required
      />
      <br />

      <label for="genre">Genre: </label>
      <select name="genre" id="genre" required>
        <option value="">Select Genre</option>
        <option value="Action">Action</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Horror">Horror</option>
        <option value="Romance">Romance</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Thriller">Thriller</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Crime">Crime</option>
        <option value="Other">Other</option>
      </select>
      <br />

      <label for="year">Year: </label>
      <input type="number" name="year" id="year" placeholder="Year" required />
      <br />

      <label for="watched">Watched: </label>
      <input type="checkbox" name="watched" id="watched" />
      <br />

      <button>Update</button>
    </form>
  </body>
</html>
