<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <a href="/users/<%= user._id %>/movies" class="button">Home</a>
        <a href="/auth/sign-out" class="button">Sign-Out</a>
      </nav>
      <header>
        <h1>Movie Details</h1>
      </header>
      <main>
        <p>Title: <%= movie.title %></p>
        <p>Director: <%= movie.director %></p>
        <p>Genre: <%= movie.genre %></p>
        <p>Release year: <%= movie.year %></p>
        <p>Watched: <%= movie.watched ? 'Yes' : 'No' %></p>
        <form
          action="/users/<%= user._id %>/movies/<%= movie._id %>?_method=DELETE"
          method="POST"
        >
          <button
            type="button"
            class="button"
            onclick="location.href='/users/<%= user._id %>/movies/<%= movie._id %>/edit'"
          >
            Edit
          </button>
          <button type="submit" class="button">Delete</button>
        </form>
      </main>
    </div>
  </body>
</html>
